<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To My Page</title>
</head>
<body>
<h1 th:text="${welcomeMessage} + ' your age is ' + ${customerAge}"> Welcome my friend</h1>

<div th:if="${isAdmin}">
<form action="#" th:action="@{/greeting/create-user}" th:object="${user}" method="post">
    <label>Name </label>
    <input type="text" th:field="*{name}">
    <label>Age</label>
    <input type="number" th:field="*{age}">
    <input type="submit" value="Create User">
</form>
</div>
<table>

    <tr>
        <th>User name</th>
        <th>User age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.address == null || user.address.isEmpty()} ? 'No Address': ${user.address}"> No Address</td>
    </tr>

</table>
</body>
</html>